.profileImage {
  display: block;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.myname {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  width: 180px;
  font-weight: bold;
  color: #d9d9d9;
  margin-top: 15px;
  font-family: sans-serif;
}

.skillSec {
  display: flex;
  justify-content: center;
  /* flex-direction: row; */
  /* width: 500px;
  height: 30px; */
}

.skillDiv1 {
  height: 20px;
  width: 60px;
  font-weight: bold;
  padding: 1px;
  padding-left: 6px;
  border-radius: 3px;
  margin: 6px 10px 10px 10px;
  background-color: #d9d9d9;
}
.skillDiv2 {
  height: 20px;
  width: 90px;
  padding: 1px;
  font-weight: bold;
  padding-left: 6px;
  border-radius: 3px;
  margin: 6px 10px 10px 5px;
  background-color: #d9d9d9;
}
.skillDiv3 {
  height: 20px;
  width: 100px;
  font-weight: bold;
  padding: 1px;
  padding-left: 6px;
  border-radius: 3px;
  margin: 6px 10px 10px 5px;
  background-color: #d9d9d9;
}
.skillDiv4 {
  height: 20px;
  width: 80px;
  font-weight: bold;
  padding: 1px;
  padding-left: 6px;
  border-radius: 3px;
  margin: 6px 10px 10px 5px;
  background-color: #d9d9d9;
}

.skillDiv5 {
  height: 20px;
  width: 85px;
  font-weight: bold;
  padding: 1px;
  padding-left: 6px;
  border-radius: 3px;
  margin: 6px 10px 10px 5px;
  background-color: #d9d9d9;
}

.linkeDiv {
  width: 40%;
  height: 45px;
  padding: 10px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  background-color: #d9d9d9;
}

.linkText1 {
  font-size: 20px;
  font-weight: bold;
  width: 190px;
  margin-left: auto;
  margin-right: auto;
}

.linkText2 {
  font-size: 20px;
  font-weight: bold;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}

.linkText3 {
  font-size: 20px;
  font-weight: bold;
  width: 190px;
  margin-left: auto;
  margin-right: auto;
}

.linkText4 {
  font-size: 20px;
  font-weight: bold;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.linkText5 {
  font-size: 20px;
  font-weight: bold;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  width: 40px;
  height: 30px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #d9d9d9;
  cursor: pointer;
}

.githubIcon {
  display: none;
}

.memeDiv {
  width: 350px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.arrowIcon {
  font-size: 30px;
  width: 30px;
  height: 30px;
  color: #d9d9d9;
  cursor: pointer;
  margin-top: 60px;
}

.memeImage {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
/* Hover effect*/

.linkeDiv:hover {
  width: 42%;
  height: 47px;
  padding: 10px;
  margin-bottom: 28px;
  transition-duration: 0.2s;
}
