@import "tailwindcss";

@theme {
  --color-grey: #161616;
  --color-grey-light: #313131;
  --color-grey-lighter: #dcdeeb;
  --color-grey-lightest: #313e55;
}

:root {
  --background: #3b4a62;
  --foreground: #ffffff;
  --bg: #313e55;
  --border-color: #313e55;
}

[data-theme="dark"] {
  --background: #000000;
  --foreground: #dcdeeb;
  --bg: #161616;
  --border-color: #313131;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
}
